<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GalleryServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GalleryServer.Properties.Settings>
            <setting name="HTTPIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="HTTPPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="WebPath" serializeAs="String">
                <value>web</value>
            </setting>
            <setting name="PicturesPath" serializeAs="String">
                <value>P:\Bilder\AutomatischerImport</value>
            </setting>
            <setting name="CacheImages" serializeAs="String">
                <value>200</value>
            </setting>
        </GalleryServer.Properties.Settings>
    </userSettings>
</configuration>